.Layout__flash-message {
  vertical-align: middle;
  text-align: center;
  font-size: 60px;
  padding-top: 30px;
  &.Layout__Flash-message--Right {
    color: darkolivegreen;
  }
  &.Layout__Flash-message--Wrong {
    color: red;
  }
}

.Icon {
  height: 60px;
  line-height: 60px;
  float: right;
  padding: 10px 20px;
  &:hover {
    cursor: pointer;
  }
}



