@import "components/PlayNote";
@import "components/Note";
@import "components/NoteButton";
//-----------Global Variables---------------------
$header-height: 60px;



//-----------Custom elements---------------------
.solid {
  background-color: deepskyblue;
  border: 1px solid black;
}


//-----------Main elements-----------------------

header {
  height: $header-height;
  line-height: 60px;
}

.Level {
  padding-left: 20px;
}

.Help {
  padding-right: 20px;
  padding-top: 18px;
}


